<header>
    <nav>
        <a href="/">ReSchedule</a>
        <ul>
            <li><a href="/">Today</a></li>
            <li><a href="/week/">My Week</a></li>
            <li><a href="/tasks">My Tasks</a></li>
            <li><a href="/profile/edit">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>
<hr>