<header>
    <nav>
        <a href="/">ReSchedule</a>
        <ul>
            <li><a href="/">Today</a></li>
            <li><a href="/tasks/show_week">My Week</a></li>
            <li><a href="/lists/show_list">My List</a></li>
            <li><a href="/profile/edit">Profile</a></li>
        </ul>
    </nav>
</header>
<hr>