<header>
    <nav>
        <a href="/">ReSchedule</a>
        <ul>
            <li><a href="/myweek">My Week</a></li>
            <li><a href="/myweek/edit">Edit My Week</a></li>
            <li><a href="/mylist/edit"></a>Edit My List</li>
            <li><a href="profile/edit"></a>Profile</li>
        </ul>
    </nav>
</header>