<h2>Edit Profile</h2>
<!--
    action="/profile/< user.id ?_method=PUT"
-->
<form action="/" 
    method="POST">
    <%- include('_form_fields') %>
    <a href="/">Cancel</a>
    <button type="submit">Update</button>  
</form>