<h2>Entire Week display</h2>
<div>
    <label>Omitting sleep hours</label>
</div>
<div>
    Add a new Task button
</div>
<div>
    <label>Monday task 1</label>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>
<div>
    <label>Monday task 1</label>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>
<p>

    etc.
    
    should it display tasks or a schedule
    of every hour?
</p>
<!--

    < include('../partials/deleteForm',
                  { url: `/authors/${author.id}` }) >
                  -->