<h2>Entire Week display</h2>
<a href="/weekTasks/new"><button>Add Common Task</button></a>
<div>
    <label>Omitting sleep hours</label>
</div>
<div>
    <% if(typeof weekTasks != 'undefined') { %> 
        <% weekTasks.forEach(weekTask => { %>
                <%= weekTask.subTask1 %>
        <% }) %> 
    <% } %> 
</div>
<div>
    <label>Monday task 1</label>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>
<div>
    <label>Monday task 1</label>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>
<p>

    etc.
    
    should it display tasks or a schedule
    of every hour?
</p>
<!--

    < include('../partials/deleteForm',
                  { url: `/authors/${author.id}` }) >
                  -->