<!-- taskHrs options:
        - calculate after entry/update
        - use JS to calculate interval
        - send as hidden input, possible?
-->
<div>
    <label>Sub Task 1</label>
    <input type="text"
    name="subtask1"
    value="pass1">
</div>
<div>
    <label>Sub Task 2</label>
    <input type="text"
        name="subtask2"
        value="pass2">
</div>
<div>
    <label>Sub Task 3</label>
    <input type="text"
        name="subtask1"
        value="pass1">
</div>
<div>
    <input type="date"
        name="startDate"
        value="sdate">
</div>
<div>
    <input type="date"
        name="endDate"
        value="sdate">
</div>