<!-- This should be implemented after
        being able to:
            Register, Login, fill out
            "Starter Form"-->
<h2>User hit Edit button</h2>

<p>display selected task to Edit.
    as long as it doesn't interfere
    with other schedules.
</p>