<h2>show specific task</h2>

<div>
    <label>Breakfast</label>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>
<div>
    <p>
        Edit button // Remove button
    </p>
</div>