<!-- This should be implemented after
        being able to:
            Register, Login, fill out
            "Starter Form"-->
<h2>Edit tasks</h2>
<div>
    <label>Omitting sleep hours</label>
</div>
<div>
    <label>Display Misc. Tasks</label>
    <p>You can add and prioritize tasks here </p>
    <p>They will automatically allocate for the next day
        for any open slot as allocated for "Open for Tasks"
    </p>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>