<h2>Index of tasks</h2>
<div>
    <label>Add lists to auto fill on week</label>
</div>
<div>
    <label>Display priority queue</label>
    <p>Task Title</p>
    <p>Task Hours length</p>
    <p>Task Description</p>
</div>
<p>allow to click on task to edit</p>
<p>display delete button or re-prioritize option</p>
<p>give an undo pop up for 4 seconds</p>