<h1>Create a new misc. task</h1>
<p>enter task input, label the misc Task
 allow for it to be on top of queue or bottom
 or display top five and allow to 
 quicky push it above one of the top 6.
</p>
<p>linked list here?</p>
